/* Contenedor principal de la página, ocupando toda la altura de la pantalla */
.home-container {
  max-width: 100%;
  height: 100%;
  margin: 0; /* Centra el contenido horizontalmente */
  padding: 20px;
  background: linear-gradient(to bottom,#3a6073, #16222a); 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-family: 'Arial', sans-serif;
  min-height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Título principal de la página */
.home-title {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 5px;
  margin-bottom: 20px;
  color: #f1c40f;
}

/* Título secundario de la página */
.titulo-cursiva {
  font-style: italic;
}

/* Contenedor para la imagen de NASA */
.nasa-image,
.nasa-media,
.video-container {
  margin-top: 20px;
  text-align: center;
  max-width: 100%; /* Permite que la imagen ocupe todo el ancho disponible */
  margin-bottom: 15px; /* Espacio adicional debajo de la imagen */
}

/* Estilo de la imagen */
.nasa-img {
  width: 100%;
  max-width: 850px; /* Limita el ancho de la imagen */
  height: 620px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px; 
}

.btn-leyenda {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #1e88e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-leyenda:hover {
  background-color: #1565c0;
}

.leyenda-imagen {
  margin-top: 5px;
  padding: 10px;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.container-explanation{
  margin-top: 5px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.4); /* Fondo semitransparente oscuro */
  text-align: center;
  border-radius: 8px;
  max-width: 850px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.titulo-imagen {
  color: #d0e73c;
  font-size: 1rem;
  text-align: center;
}

/* Explicación debajo de la imagen */
.nasa-explanation {
  font-size: 1.1rem;
  margin-top: 5px;
  text-align: center;
  padding: 10px 10px;
  color: #fff;
}

/* Contenedor de error */
.error-message {
  font-size: 1.2rem;
  color: #e74c3c;
  text-align: center;
  margin-top: 20px;
}

/* Estilo de los botones en la página*/
.btn-explore {
  width: 100%;
  max-width: 200px;
  padding: 12px;
  background-color: #f1c40f;
  color: #2c3e50;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s ease;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Efecto hover en el botón */
.btn-explore:hover {
  background-color: #f39c12;
}

/* Evitar que el botón tenga outline cuando esté enfocado */
button:focus {
  outline: none;
}

