
.form-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: linear-gradient(135deg, #0c1c2d, #2c3e50);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-family: 'Arial', sans-serif;
}

.form-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #f1c40f;
}

.form-group {
  margin-bottom: 15px;
}
.form-group-clave {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px auto;
  max-width: 400px;
  align-items: center;
}

.input-clave {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f0f0f0; /* Gris claro */
  color: #333;
}

.btn-verificar-clave {
  background-color: #ffd700; /* Amarillo */
  color: #000;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-verificar-clave:hover {
  background-color: #e6c200; /* Amarillo más oscuro al pasar el mouse */
}


label {
  font-size: 1rem;
  font-weight: bold;
  color: #ecf0f1;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background-color: #34495e;
  color: #ecf0f1;
  border: 2px solid #2c3e50;
  border-radius: 5px;
}

input::placeholder, select::placeholder {
  color: #bdc3c7;
}

input[type="datetime-local"] {
  color: #ecf0f1;
}

.error {
  color: #e74c3c;
  font-size: 0.875rem;
  margin-top: 5px;
}

.btn-submit {
  width: 100%;
  padding: 12px;
  background-color: #f1c40f;
  color: #2c3e50;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-submit:hover {
  background-color: #f39c12;
}

button:focus {
  outline: none;
}
